header {
  width: 80%;
  height: 80px;

  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.ong {
  display: flex;
}
.ong ol {
  display: flex;
  margin: 0;
}
.ong ul {
  display: flex;
  align-items: center;
}
.cartButton {
  display: flex;
}
.raqam {
  background-color: black;
  color: white;
  display: inline;
  padding: 0 6px 2px 6px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0;
  font-weight: bold;
}

.section {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
}

.section h1 {
  font-weight: 800;
  font-size: 50px;
}
.section h4 {
  font-size: 20px;
  color: rgb(176, 176, 174) !important;
}
.logoo {
  color: black;
  font-size: 30px;
  margin: 0;
}
footer {
  background-color: black;
  color: white;

  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allCards {
  width: 80%;
  height: 1000px;
  margin: auto;
}

.cards {
  width: 22%;
}

.tepasi {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
